<div class = "row">
    <div class = "col l3 m12 hide-on-small-only">
    <!-- FOR FILTERS -->
        <div class="card">
            <div class="card-content">
                <form action="#" class = "center">
                    <strong>Filter by Status</strong>
                    <div class = "divider"></div>
                    <br>

                        <p ng-repeat="(key, value) in $ctrl.filters">
                            <input type="checkbox" 
                                id="all-{{key}}" 
                                ng-model="$ctrl.filters[key]"/>
                            <label for="all-{{key}}">
                                {{ key }}
                            </label>
                        </p>
                    
                    <br>
                   
                </form>
                <div class="card"> 
    </div>
            </div>
        </div>



    </div>

<div class="row" style="margin-top: 20px">
    <div class = "col l4 s12">
        <table style="table-layout: fixed; margin-bottom: 10px" class = "team-table" 
                ng-repeat="event in $ctrl.events | orderBy: '-status'"
                ng-if="($ctrl.filters.Live == true && event.status == 'Live') ||
                        ($ctrl.filters.Soon == true && event.status == 'Soon') ||
                        ($ctrl.filters.Done == true && event.status == 'Done')">
            <thead>
                <tr>
                    <th>
                        <div ng-show="event.status == 'Live'" class = "green chip">{{event.status}}</div>
                        <div ng-show="event.status == 'Soon'" class = "red chip">{{event.status}}</div>
                        <div ng-show="event.status == 'Done'" class = "black chip white-text">{{event.status}}</div>
                        <a ui-sref = "eventPage({ eventId: event.event_id })">{{event.event_title}}</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="team in event.teams">
                    <td><a ui-sref="teamPage({ teamId: team.team_id })"><img class = "team-logo" ng-src ="{{team.picture}}">&nbsp{{team.name}}</a></td>
                    <td>{{team.win}} - {{team.lose}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class = "col l4 s12">
        <table style="table-layout: fixed; margin-bottom: 10px" class = "team-table" 
                ng-repeat="event in $ctrl.events2 | orderBy: '-status'"
                ng-if="($ctrl.filters.Live == true && event.status == 'Live') ||
                        ($ctrl.filters.Soon == true && event.status == 'Soon') ||
                        ($ctrl.filters.Done == true && event.status == 'Done')">
            <thead>
                <tr>
                    <th>
                        <div ng-show="event.status == 'Live'" class = "green chip">live</div>
                        <div ng-show="event.status == 'Soon'" class = "red chip">soon</div>
                        <div ng-show="event.status == 'Done'" class = "black chip white-text">done</div>
                        <a ui-sref = "eventPage({ eventId: event.event_id })">{{event.event_title}}</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="team in event.teams">
                    <td><a ui-sref="teamPage({ teamId: team.team_id })"><img class = "team-logo" ng-src ="{{team.picture}}">&nbsp{{team.name}}</a></td>
                    <td>{{team.win}} - {{team.lose}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

                