<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	<title>MalICSihan</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="../../../node_modules/materialize-css/dist/css/materialize-2.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>

<style>
            #news {
                margin: 0px 0px 50px 0px;
            }
            #dropdown-links {
                cursor: pointer;
                font-size: 14px;
                color: #616161;
                margin-bottom: 2px;
                width: 50%;
                float: left;
            }
            #dropdown-links:hover {
                color: #ff0000;
            }
        </style>
<body>


<!-- =================================== NAVIGATION  v.2 ===========================================-->

<!-- <div class = "navbar-fixed">
  <nav id="top" class="white">
    <div class="nav-wrapper">
      <a href="index1.html" class="left" style="width: 200px;"><img src= "../images/logo/malicsi.png"></a>

      <ul class="left hide-on-med-and-down ">
        <li><a href="#" class = "dropdown-button black-text" data-activates="dropdown1" hover = "true"><i class = "material-icons grey-text">menu</i></a></li>
        <ul id = "dropdown1" class = "dropdown-content">
          <li><a href = "#"> Events</a></li>
          <li><a href = "profile.html"> Profile</a></li>
        </ul>
      <li><input class = "text"></li>
      </ul>

      <ul class="right hide-on-med-and-down">

        <li><a href="#modal-register" class = "black-text">REGISTER</a></li>
        <li><a id="login" href="#modal-login"  class = "black-text">LOGIN<i class="material-icons right" >arrow_drop_down</i></a></li>
      </ul>
    </div>
  </nav>
</div>
 -->
<!-- =================================== NAVIGATION  v.3 ===========================================-->


 <nav id="top" class="white">
            <div class="nav-wrapper">
                <a class="left" style="height: 64px;" href="#"><img src="../images/malicsi-logo.png"></a>
                <ul class="left hide-on-med-and-down">
                    <li><i id="drop-links" style="cursor: pointer;" class="black-text large material-icons">menu</i></li>
                    <li><a class="black-text" href="#">Sports</a></li>
                    <li><a class="black-text" href="#">Schedules</a></li>
                    <li><a class="black-text" href="#">Results</a></li> 
                </ul>

                <div class="left hide-on-small-only" style="height: 64px; margin: 0px 10px; padding: 8px 0px 0px 0px">
                    <!-- <select class="left black-text">
                        <option value="" disabled selected>Select Fruit</option>
                        <option value="1">Mango</option>
                        <option value="2">Orange</option>
                        <option value="3">Apple</option>
                    </select> -->
                    <form>
                    <input width="30px" class="left black-text" placeholder="Search" id="input" style="float: left;">
                    <i class="black-text material-icons" style="cursor: pointer">search</i>
                    </form>

                </div>
                <!-- IF GUEST, MAKE THIS AS REGISTER AND LOG-IN -->
                <a href="#" data-activates="slide-out" class="right black-text side-nav-button">
                    djbelmonte
                    <i style="margin: 0px 15px;" class="right black-text material-icons">chrome_reader_mode</i>
                </a>            
            </div>
        </nav>



<!-- =================================== SIDE NAV ===========================================-->

            <ul id="slide-out" class="side-nav">
            <li><div class="userView">
                <div class="background">
                    <img src="../images/parallaxsampsquaresmall.png">
                </div>
                <a href="#!user"><img class="circle" src="../images/person-flat.png"></a>
                <a href="#!name"><span class="white-text name">Donn Jerico Belmonte</span></a>
                <a href="#!email"><span class="white-text email">djbelmonte</span></a>
            </div></li>
            <li><a href="#!">Notifications<i class="material-icons">notifications</i></a></li>
            <li><a href="#!">Stats<i class="material-icons">equalizer</i></a></li>
            <li><a href="#!">Leagues<i class="material-icons">subject</i></a></li>
            <li><a href="#!">Edit Profile<i class="material-icons">settings</i></a></li>
            <li><a href="#!">Sign out<i class="material-icons">power_settings_new</i></a></li>

        </ul>



<!--MODALS FOR LOGIN-->
<!--REGISTER-->
  <div id="modal-register" class="modal">
    <div class="container modal-content">
      <h5>Register</h5>
      <div class = "row">
        <form>
        <div class ="input-field">
          <i class ="material-icons prefix">perm_identity</i>
          <input id = "icon_prefix" type = "text" name = "searchinput">
          <label for = "icon_prefix">Username</label>
        </div>
          <div class ="input-field">
          <i class ="material-icons prefix">perm_identity</i>
          <input id = "icon_prefix" type = "text" name = "searchinput">
          <label for = "icon_prefix">Password</label>
        </div>
        <input type ="submit" value = "Submit" class = "btn right">
        </form>
      </div>
    </div>
  </div>

<!--LOG IN-->
  <div id="modal-login" class="modal">
    <div class="container modal-content">
      <h5>Log-in</h5>
      <div class = "row">
        <form>
        <div class ="input-field">
          <i class ="material-icons prefix">perm_identity</i>
          <input id = "icon_prefix" type = "text" name = "searchinput">
          <label for = "icon_prefix">Username</label>
        </div>
          <div class ="input-field">
          <i class ="material-icons prefix">perm_identity</i>
          <input id = "icon_prefix" type = "text" name = "searchinput">
          <label for = "icon_prefix">Password</label>
        </div>
        <input type ="submit" value = "Submit" class = "btn right">
        </form>
      </div>
    </div>
  </div>


<!-- =================================== EVENT CARDS ===========================================-->
<!--Make this dynamic-->
<!--Order is reverse chronological-->

 <div class="row" name = "LeagueRow">

       <div class="col s12 m6 l3">
          <div class="hoverable card" >
            <div class="card-image">
               <a href = "#"><img src="../images/logo/malicsi2018.jpg"></a>
              <span class="card-title black-text">Malicsi Intergames 2018</span>

              <!-- Settings button is available only for Admin-->
              <!-- Settings button is either gray or not visible to guest and normal user-->

              <a class="dropdown-button hoverable btn-floating halfway-fab waves-effect waves-light red" href = "#" data-activates = "settings-dropdown"><i class="material-icons">settings</i></a>
            </div>
            <div class="divider"></div>
            <div class="card-content hide-on-medium-only">
              <ul>
                <li><i class = "material-icons">date_range</i> June 12 - June 14</li>
                <li><i class = "material-icons">supervisor_account</i><a href = "#"> Institute of Computer Science</a></li>
              </ul>
            </div>
            <div class="card-action">
              <a href="#" class = "btn" data-tooltip="Go to another page">Soon</a>
            </div>
          </div>
        </div>

        <!-- Dropdown for settings -->
        <ul id='settings-dropdown' class='dropdown-content'>
          <li><a href="#modal-edit-event">Edit</a></li>
          <li class="divider"></li>
          <li><a href="#modal-delete-event">Delete</a></li>
        </ul>

        <div class="col s12 m6 l3">
          <div class="card">
            <div class="card-image">
               <a href = "#"><img src="../images/logo/engmeet2017.jpg"></a>
              <span class="card-title black-text">Engineering Meet 2017</span>
            </div>
            <div class="card-content hide-on-small-only">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#" class = "btn red">Live</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6 l3">
          <div class="card">
            <div class="card-image">
              <a href = "#"><img src="../images/logo/palacasan2016.jpg"></a>
              <span class="card-title black-text">PalaCASan 2016</span>
            </div>
            <div class="card-content hide-on-small-only">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="leagueHistory.html" class = "btn black">Done</a>
            </div>
          </div>
        </div>

          <div class="col s12 m6 l3">
          <div class="card">
            <div class="card-image">
               <a href = "#"><img src="../images/logo/palacasan2015.jpg"></a>
              <span class="card-title black-text">PalaCASan 2015</span>
            </div>
            <div class="card-content hide-on-small-only">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#" class = "btn black">Done</a>
            </div>
          </div>
        </div>

          
      </div>


<!-- ========================================== FAB ====================================================-->
<!-- =============================== ONLY AVAILABLE TO ADMIN ===========================================-->
  <div class = "fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light red tooltipped" href="#modal-add-event"data-position="left" data-tooltip="Add event"><i class="material-icons">note_add</i></a>
  </div>

<!-- =================================== MODAL FOR ADD EVENT ===========================================-->
  <div id="modal-add-event" class="modal">
    <div class="modal-content">
      <h5>ADD EVENT</h5>
      <div class="divider"></div>
      <div class = " container row">
        <form>
        <div class ="input-field">
          <i class ="material-icons prefix">turned_in</i>
          <input id = "icon_prefix" type = "text" name = "searchinput">
          <label for = "icon_prefix">Event name</label>
        </div>
        <div class ="input-field">
          <i class ="material-icons prefix">today</i>
          <input id = "icon_prefix" type = "text" name = "searchinput">
          <label for = "icon_prefix">Event start date</label>
        </div>
        <div class ="input-field">
          <i class ="material-icons prefix">event</i>
          <input id = "icon_prefix" type = "text" name = "searchinput">
          <label for = "icon_prefix">Event end date</label>
        </div>
        <div class="file-field input-field">
          <div class="btn">
            <span>Upload Logo</span>
            <input type="file">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
          </div>

          <input type ="submit" value = "Submit" class = "btn right modal-action modal-close">
      </form>
      </div>
    </div>
  </div>

<!-- =================================== MODAL FOR EDIT EVENT ===========================================-->
<!-- Notes
1. ) PLACEHOLDERS - Placeholder for input must be the current value on the display
  e.g. if the event is entitled MALICSI Intergames 2018, upon clicking
      the edit button, the input field's placeholder must be "MALICSI Intergames 2018".
      Same goes for other input fields.

2.) DATE PLACEHOLDERS - Made the input type = text since i can't make that placeholder of
      input type = date to a date format. Can you guys find a way to do it?

-->
  <div id="modal-edit-event" class="modal z-depth-0">
    <div class="modal-content container">
      <h5 >Edit event</h5>
      <div class="divider"></div>
      <div class = " row">
        <form>
        <div class ="input-field">
          <i class ="material-icons prefix">turned_in</i>
          <input id = "icon_prefix" type = "text" name = "searchinput"  placeholder = "Malicsi Intergames 2018">
          <label for = "icon_prefix">Event name</label>
        </div>
        <div class ="input-field">
          <i class ="material-icons prefix">today</i>
          <input id = "icon_prefix" type = "text" name = "searchinput" placeholder="06/12/2018" >
          <label for = "icon_prefix">Event start date</label>
        </div>
        <div class ="input-field">
          <i class ="material-icons prefix">event</i>
          <input id = "icon_prefix" type = "text" name = "searchinput"  placeholder="06/16/2018" >
          <label for = "icon_prefix">Event end date</label>
        </div>
        <div class="file-field input-field">
          <div class="btn">
            <span>Re-upload Logo</span>
            <input type="file">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
          </div>
        <input type ="submit" value = "Submit" class = "btn right modal-action modal-close">
      </form>
      </div>
    </div>
  </div>

<!-- =================================== MODAL FOR DELETE EVENT ===========================================-->
<!--  
  1.) Cancel button closes the modal
  2.) Okay button must delete the event, then, reloads the page



-->

  <div id="modal-delete-event" class="modal z-depth-0 center">
    <h5>Delete Event</h5>
    <div class="divider"></div>
    <div class="container modal-content">
       <p>Are you sure you want to delete <br>Malicsihan Intergames 2018?</p>
       <a class="btn grey modal-trigger modal-action modal-close">Cancel</a>
       <a class="btn modal-action modal-close">Okay</a>

    </div>
  </div>
                  
<!-- =================================== SCRIPTS ===========================================-->

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../../../node_modules/materialize-css/dist/js/js/sample.js"></script>
  <script src="../../../node_modules/materialize-css/dist/js/init.js"></script>
  <script src="../../../node_modules/materialize-css/dist/js/materialize.min.js"></script>
  <script>
    $(document).ready(function(){
      $('select').material_select();
      // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
      $('.modal').modal({
      opacity: .5, // Opacity of modal background
      });
    });
    // Initialize collapsible (uncomment the line below if you use the dropdown variation)
    //$('.collapsible').collapsible();

  </script>
  <script>
    $('.side-nav-button').sideNav({
      menuWidth: 300, // Default is 300
      edge: 'right', // Choose the horizontal origin
      closeOnClick: true
    });
  </script>
        
</body>
</html>