<!DOCTYPE html>
<html>
    <head>
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="../../../node_modules/materialize-css/dist/css/materialize.css" media="screen,projection" />
        <link type="text/css" rel="stylesheet" href="../index_page/index.css" />
        <link href="../../../node_modules/webui-popover/dist/jquery.webui-popover.min.css" rel="stylesheet" />

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <nav id="top" class="white">
            <div class="nav-wrapper">
                <a class="left" id="malicsi-logo-link" href="#"><img src="../images/malicsi-logo.png"></a>
                <ul class="left hide-on-med-and-down">
                    <li><i id="drop-links" style="cursor: pointer;" class="black-text large material-icons">menu</i></li>
                    <li><a class="black-text" href="#">Sports</a></li>
                    <li><a class="black-text" href="#">Schedules</a></li>
                    <li><a class="black-text" href="#">Results</a></li> 
                </ul>
                <div class="left" id="search-bar-div">
                    <!-- <select class="left black-text">
                        <option value="" disabled selected>Select Fruit</option>
                        <option value="1">Mango</option>
                        <option value="2">Orange</option>
                        <option value="3">Apple</option>
                    </select> -->
                    <input width="30px" class="left black-text" placeholder="Search" id="input">
                    <i class="black-text material-icons" id="search-icon">search</i>
                </div>
                <a href="#" data-activates="slide-out" class="right red-text side-nav-button">
                    djbelmonte
                    <i id="sidenav-icon" class="right black-text material-icons">menu</i>
                </a>            
            </div>
        </nav>

        <div id="additional-links" class="webui-popover-content">
            <div><a id="dropdown-links">Events</a></div>
            <div><a id="dropdown-links">Players</a></div>
            <div><a id="dropdown-links">Leagues</a></div>
            <div><a id="dropdown-links">About</a></div>
            <div><a id="dropdown-links">Contact us</a></div>
        </div>
        
        <ul id="slide-out" class="side-nav">
            <li><div class="userView">
                <div class="background">
                    <img src="../images/background.jpg">
                </div>
                <a href="#"><img class="circle" src="../images/person-flat.png"></a>
                <a href="#"><span class="white-text name">Donn Jerico Belmonte</span></a>
                <a href="#"><span class="white-text email">djbelmonte</span></a>
            </div></li>
            <li><a href="#">Notifications<i class="material-icons">notifications</i></a></li>
            <li><a href="#">Stats<i class="material-icons">equalizer</i></a></li>
            <li><a href="#">Leagues<i class="material-icons">subject</i></a></li>
            <li><a href="#">Edit Profile<i class="material-icons">settings</i></a></li>
            <li><a href="#">Sign out<i class="material-icons">power_settings_new</i></a></li>
        </ul>

        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="../../../node_modules/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="../../../node_modules/materialize-css/dist/js/materialize.js"></script>
        <script src="../../../node_modules/webui-popover/dist/jquery.webui-popover.min.js"></script>
        
        <script>$
            ('.side-nav-button').sideNav({
                menuWidth: 300, // Default is 300
                edge: 'right', // Choose the horizontal origin
                closeOnClick: true
            });
        </script>
        <script>
            $(document).ready(function() {
                Materialize.updateTextFields();
            }); 
        </script>
        <script>
            $('a').click(function(){
                $('html, body').animate({
                    scrollTop: $( $(this).attr('href') ).offset().top
                }, 500);
                return false;
            });
        </script>
        <script>
            /*$('.carousel.carousel-slider').carousel({fullWidth: true}); //carousel jquery
            autoplay()   
            function autoplay() {
                $('.carousel.carousel-slider').carousel('next');
                setTimeout(autoplay, 6000);
            }   */     
        </script>
        <script>
            $('#drop-links').webuiPopover({url:'#additional-links'});
        </script>
        <script>
            /*$(document).ready(function() {
                $('select').material_select();
            });*/
        </script>
    </body>
</html>