<div id="user-info">
    <h5 class="center">PLAYER STATS</h5>
    <div class="container">
        <div class="center" ng-if="$ctrl.objects.length == 0">No stats yet</div>
        <table ng-if="$ctrl.objects.length != 0" class="striped">
            <thead>
                <tr>
                    <th>Team</th>
                    <th>Event</th>
                    <th>Wins</th>
                    <th>Losses</th>
                    <th>Win Rate</th>
                </tr>
            </thead>
            <tbody ng-repeat="each in $ctrl.objects">
                <tr>
                    <td><a ui-sref="teamPage({teamId: each.team_id})">{{ each.name }}</a></td>
                    <td><a ui-sref="eventPage({eventId: each.event_id})">{{ each.event_title }}</a></td>
                    <td>{{ each.wins }}</td>
                    <td>{{ each.losses }}</td>
                    <td>{{ each.percentage }}%</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>