<div class="parallax-container">
	<div class="parallax valign"><img ng-src="/images/logo/orgs/palacasan2016.jpg"></div>
</div>


<!-- 
-teams should be linked to team_page.html
-->
<div class="container">
<table>
	<thead>
		<div class="row">
			<div class="col s12">
			  <ul class="tabs tabs-fixed-width red">
				<li class="tab col s3" ng-repeat="sport in $ctrl.allSports" ><a class="white-text" href="#{{ sport }}" >{{ sport.sport }}</a></li>
			  </ul>
			</div>
		</div>
	</thead>
	<tbody>
		<table class="highlight bordered striped" id="{{ sport }}" ng-repeat="sport in $ctrl.allSports track by $index">
			<thead>
				<tr>
					<th>Game</th>
					<th>Competing Teams</th>
					<th>Score</th>
					<th>Winner</th>
				</tr>
			</thead>
			<tbody ng-repeat="game in sport.games">
				
				<tr>
					<td>{{ game.game_id }}</td>
					<td><a href="#">{{ game.teams[0].name }}</a> vs <a href="#">{{ game.teams[1].name }}</a></td>
					<td>{{ game.teams[0].score }}-{{ game.teams[1].score }}</td>
					<td>{{ game.teams[0].record === "WIN" ? game.teams[0].name : game.teams[1].name }}</td>
				</tr>
				
			</tbody>
		</table>
	</tbody>
</table>
</div>