<div class="row">
    <div class="col l10 s12 m9" id="right-team-page">
        <div class="col l3">
            <img src="/images/engmeet2017.jpg" width="256px" height="256px">
        </div>

        <div class="col l9">
            <b id="team-name">{{$ctrl.currentTeam.name}}</b>
            <div class="divider"></div>
            <div class="col l4" id="team-stats">
                <ul>
                    <li>Games Played:</li>
                    <li>Record:</li>
                    <li>Winning percentage:</li>
                    <li>Last Opponent:</li>
                </ul>
                <button class="red btn" data-target="edit-modal" modal>Edit Team</button> <!-- hide if not admin-->
            </div>
            <div class="col l3" style="font-size: 17px;">
                <ul>
                    <li>{{$ctrl.pastGameCount}}</li>
                    <li>5-2</li>
                    <li>71.4%</li>
                    <li>{{$ctrl.lastOpponent}}</li>
                </ul>
                <button class="red btn" data-target="delete-modal">Delete Team</button> <!-- hide if not admin-->
            </div>

            <div id="delete-modal" class="modal">
                <div class="modal-content">
                    <h4>Delete Team</h4>
                    <p>Are you sure you want to delete {{$ctrl.currentTeam.name}}?</p>
                </div>
                <div class="modal-footer">
                    <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
                    <a ng-click="$ctrl.deleteTeam()" class="modal-action modal-close waves-effect waves-green btn-flat">Okay</a>
                </div>
            </div>

            <div class="col l5">      
                <div class="col l12">
                    <div class="card" ng-if="$ctrl.showUpcoming">
                        <div class="card-content row" style="margin-bottom: 0px; padding-bottom: 5px">
                            <div id="upcoming-game">Upcoming Game</div>
                            <div class="divider"></div>
                            <div class="col l12" id="upcoming-game-inner-div">
                                <div class="col l7" id="upcoming-game-inner-inner-div">
                                    <div class="center-align"><p id="vs">vs</p></div>
                                    <div class="center-align"><a href="#">{{$ctrl.upcomingGame.team_name}}</a></div>
                                </div>
                                <div class="col l5" id="opponent-logo"><img  src="/images/engmeet2017.jpg" height="100px" width="100px"></div>
                            </div>
                             
                        </div>
                        <div class="card-action" id="upcoming-game-details">
                            <div><text>{{$ctrl.upcomingGame.sport}}</text></div>
                            <div><text>{{$ctrl.upcomingGame.venue}}</text></div>
                            <div><text>{{$ctrl.upcomingGame.time | date: "MM-dd-yyyy hh:mm a"}}</text></div>
                        </div>
                    </div>
                    <div class="card" ng-if="!$ctrl.showUpcoming">
                        <div class="card-content row" style="margin-bottom: 0px; padding-bottom: 5px">
                            <h6 class="center-align">No upcoming game</h6>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        
        <div class="collection col l12" id="last-five-games-div">
            <div class="collection-header"><b id="last-five-games-header">Last 5 Games</b></div>
            <table class="bordered responsive-table" id="last-five-games-table">
                <tr>
                    <th>Date</th>
                    <th>Event</th>
                    <th>Team</th>
                    <th>Game</th>
                    <th>Opponent</th>
                    <th>Result</th>
                </tr>
                <tr ng-repeat="game in $ctrl.lastFiveGames">
                    <td>{{game.time | date: "MM-dd-yyyy hh:mm a"}}</td>
                    <td><a>{{game.event_title}}</a></td>
                    <td><a>{{game.team_name}}</a></td>
                    <td><a>{{game.sport}}</a></td>
                    <td><a>{{game.team_name}}</a></td>
                    <td>{{game.team1_score}}-{{game.team2_score}}</td>
                </tr>
            </table>
        </div>

        <div class="collection row">
            <div class="collection-header col l12"><b id="players-header">Players</b></div>
            <div class="col l2 s12 m6" ng-repeat="player in $ctrl.players">
                <div class=" card">
                    <div class="card-image">
                        <img ng-src="/images/{{ player.profile_pic }}" alt="profile pic">
                    </div>
                    <div class="card-content" id="player-card">
                        <a ui-sref="userPage({ userId: player.user_id })" class="center-align">{{player.name}}</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
          
</div>


<div id="edit-modal" class="modal">
    <div class="modal-content">
      <h4>Edit Team</h4>
        <div class="row">
            <div class="input-field col l8">
                <i class="material-icons prefix">mode_edit</i>
                <input ng-model="$ctrl.currentTeam.name" id="team-name-new" type="text">
                <label class="active" for="team-name-new">Team name</label>


                <form action="#">
                    <div class="file-field input-field">
                        
                        <div class="file-path-wrapper col l7" id="modal-edit-logo">
                            <i class="material-icons prefix">mode_edit</i>
                            <input id="team-logo" value="" class="file-path validate" type="text">
                            <label class="active" for="team-logo">Upload new logo</label>
                        </div>
                        <div class="btn col l4">
                            <span>File</span>
                            <input type="file">
                        </div>
                    </div>
                </form>

            </div>
        </div>

          
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
      <a ng-click="$ctrl.editTeam()" class="modal-action modal-close waves-effect waves-green btn-flat">Save</a>
    </div>
</div>
