<!DOCTYPE html>
<html>
    <head>
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="../../../node_modules/materialize-css/dist/css/materialize.css" media="screen,projection" />    
        <link href="../../../node_modules/webui-popover/dist/jquery.webui-popover.min.css" rel="stylesheet" />
    
        <!-- FOR NAVIGATION CSS -->
        <link type="text/css" rel="stylesheet" href="../index_page/index.css" />
        
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </head>
    <body>

    <!--========================================================== NAVIGATION =========================================================-->
    <div class ="navbar-fixed">
   <nav id="top" class="white">
            <div class="nav-wrapper">
                <a class="left" id="malicsi-logo-link" href="#"><img src="../images/malicsi-logo.png"></a>
                <i id="drop-links" style="cursor: pointer;" class="black-text large material-icons left hide-on-large-only">menu</i>
                <ul class="left hide-on-med-and-down">
                    <li><a class="black-text" href="#">Live</a></li>
                    <li class = "active"><a class="black-text" href="../view_events/view_events.html">Events</a></li>
                    <li><a class="black-text" href="../view_team_page/view_teams.html">Teams</a></li>
                    <li><a class="black-text" href="../view_schedule_page/view_schedule.html">Schedules</a></li>
                    <li><a class="black-text" href="../view_sponsors_page/view_sponsors.html">Sponsors</a></li>

                </ul>
                <form class = "left hide-on-small-only">
                <div class="left" id="search-bar-div">
                    <select id="select-dropdown" class="left black-text browser-default">
                        <option value="" selected disabled>Search All</option>
                        <option value="2">Player</option>
                        <option value="3">Team</option>
                        <option value="4">Event</option>
                        <option value="5">Sponsoring Institution</option>
                    </select>
                </div>
                 <div class="left" >
                        <input class="left black-text" placeholder="Search" id="input">
                        <i class="black-text material-icons" id="search-icon">search</i>
                    </div>
                </form>
                <a href="#" data-activates="slide-out" class="right black-text side-nav-button">
                    username
                    <i id="sidenav-icon" class="right black-text material-icons">play_arrow</i>
                </a>            
            </div>
        </nav>-
        </div>

        <div id="additional-links" class="webui-popover-content">
            <div><a id="dropdown-links" href = "#">Live</a></div>
            <div><a id="dropdown-links" href = "../view_events/view_events.html">Events</a></div>
            <div><a id="dropdown-links" href = "../view_team_page/view_teams.html">Teams</a></div>
            <div><a id="dropdown-links" href = "../view_schedule_page/view_schedules.html">Schedules</a></div>
            <div><a id="dropdown-links" href = "../view_sponsors_page/view_sponsors.html">Sponsors</a></div>
        </div>
        
        <ul id="slide-out" class="side-nav">
            <li><div class="userView">
                <div class="background">
                    <img src="../images/parallaxsampsquaresmall.jpg">
                </div>
                <a href="#"><img class="circle" src="../images/person-flat.png"></a>
                <a href="#"><span class="white-text name">Donn Jerico Belmonte</span></a>
                <a href="#"><span class="white-text email">djbelmonte</span></a>
            </div></li>
            <li><a href="#">Notifications<i class="material-icons">notifications</i></a></li>
            <li><a href="../profile_page/profile.html">Stats<i class="material-icons">equalizer</i></a></li>
            <li><a href="#">Joined Events<i class="material-icons">subject</i></a></li>
            <li><a href="../profile_page/edit_profile.html">Edit Profile<i class="material-icons">settings</i></a></li>
            <li><a href="../index_page/index.html">Sign out<i class="material-icons">power_settings_new</i></a></li>
        </ul>

        <!--========================================================== NAVIGATION =========================================================-->

        <div class = "row">
            <div class = "col m3">
            </div>

            <div class = "col s12 m8">
            <!-- Your code here!!! -->
            <div class="row">
            <ul class="collapsible" data-collapsible="expandable">
              <li class="active">
                <div class="collapsible-header active"><h5>Basketball - Men's</h5></div>
                <div class="collapsible-body ">
                    <table>
                        <thead>
                          <tr>
                              <th>Game No.</th>
                              <th>Team</th>
                              <th>Score</th>
                              <th>Time</th>
                          </tr>
                        </thead>

                        <tbody>
                          <tr>
                            <td>1</td>
                            <td><a class="black-text" href="view_live_page.html">Team 1 vs Team 2</a>
                            </td>
                            <td>99-100</td>
                            <td>10:00 AM</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
              </li>
               <li class="active">
                <div class="collapsible-header active"><h5>Basketball - Women's</h5></div>
                <div class="collapsible-body">
                    <table>
                        <thead>
                          <tr>
                              <th>Game No.</th>
                              <th>Team</th>
                              <th>Score</th>
                              <th>Time</th>
                          </tr>
                        </thead>

                        <tbody>
                          <tr>
                            <td>1</td>
                            <td><a class="black-text" href="view_live_page.html">Team 1 vs Team 2</a>
                            </td>
                            <td>99-100</td>
                            <td>10:00 AM</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>  
              </li>
               <li class="active">
                <div class="collapsible-header active"><h5>Volleyball - Men's</h5></div>
                <div class="collapsible-body">
                    <table>
                        <thead>
                          <tr>
                              <th>Game No.</th>
                              <th>Team</th>
                              <th>Score</th>
                              <th>Time</th>
                          </tr>
                        </thead>

                        <tbody>
                          <tr>
                            <td>1</td>
                            <td><a class="black-text" href="view_live_page.html">Team 1 vs Team 2</a>
                            </td>
                            <td>99-100</td>
                            <td>10:00 AM</td>
                          </tr>
                        </tbody>
                      </table>
                   </div>
               </li>
               <li class="active">
                <div class="collapsible-header active"><h5>Volleybal - Women's</h5></div>
                <div class="collapsible-body">
                    <table>
                        <thead>
                          <tr>
                              <th>Game No.</th>
                              <th>Team</th>
                              <th>Score</th>
                              <th>Time</th>
                          </tr>
                        </thead>

                        <tbody>
                          <tr>
                            <td>1</td>
                            <td><a class="black-text" href="view_live_page.html">Team 1 vs Team 2</a>
                            </td>
                            <td>99-100</td>
                            <td>10:00 AM</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
              </li>
               <li class="active">
                <div class="collapsible-header active"><h5>Badminton - Singles<h5></div>
                <div class="collapsible-body">
                    <table>
                        <thead>
                          <tr>
                              <th>Game No.</th>
                              <th>Team</th>
                              <th>Score</th>
                              <th>Time</th>
                          </tr>
                        </thead>

                        <tbody>
                          <tr>
                            <td>1</td>
                            <td><a class="black-text" href="view_live_page.html">Team 1 vs Team 2</a>
                            </td>
                            <td>99-100</td>
                            <td>10:00 AM</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
              </li>
            </ul>
          </div>

            </div>
        </div>

        <!-- footer -->

       <footer class="red page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l4 s12">
                        <h5 class="white-text">Malicsi</h5>
                        <p class="grey-text text-lighten-4">Info Here</p>
                    </div>
                    <div class="col l4 s12">
                        <ul>
                            <li>
                                <a class="modal-trigger grey-text text-lighten-3" href="#tac">Terms and Condition
                                </a>
                            </li>

                           <!-- information that found in terms and condition, and privacy policy ARE EXAMPLES ONLY. these information came from https://www.orbitmedia.com/privacy-policy
                           PLEASE CHANGES THESE terms and the policy, THANK YOU!! -->

                        <!-- ************ modal for Terms and Condition  **************** -->
                            <div id="tac" class="modal modal-size">
                                <div class="modal-content">
                                    <div class="row">
                                        <div class="center">
                                        <h4>Terms and Condtion</h4>
                                        <h5>Collection of Personal Information</h5>
                                        <p> When you access this site, you will be asked to provide certain information about yourself.
                                        You are required to provide your username, email address, and other personal identifying information.

                                        Malicsi collects this information in order to record and support your participation in the activities/events that we provide. Malicsi also uses information that you provide as part of our effort to keep you informed about the events that you joined, and about the upcoming events. Malicsi will never sell or share your information to other people. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                            <li>
                                <a class="modal-trigger grey-text text-lighten-3" href="#pc">Privacy Policy
                                </a>
                            </li>
                        <!-- ************ modal for Privacy Policy  **************** -->
                            <div id="pc" class="modal modal-size">
                                <div class="modal-content">
                                    <div class="row">
                                        <div class="center">
                                        <h5>Privacy Policy</h5>
                                        <p> By accessing or using Malicsi Website, you agree to the terms and conditions of this site. If you do not agree to these terms, please do not use this site </p>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                            <li><a class="grey-text text-lighten-3" href="#!">Sitemap</a></li>
                        </ul>
                    </div>
                    <div class="col l4 s12">
                        <h5 class="white-text">Contact Us</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="https://www.facebook.com">Facebook</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://www.twitter.com">Twitter</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">malicsi@gmail.com</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">(049)123-4567</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">0912-345-6789</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    BETELOG 2017 Copyright 
                    <a class="grey-text text-lighten-4 right" href="#top">Back to top</a>
                </div>
            </div>
        </footer>




        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="../../../node_modules/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="../../../node_modules/materialize-css/dist/js/materialize.js"></script>
        <script src="../../../node_modules/webui-popover/dist/jquery.webui-popover.min.js"></script>
        
        <!-- FOR NAVIGATION JS -->
        <script src="../index_page/index.js"></script>     
        
    </body>
</html>