<div id="register-part"> 
    <div id="register" class="col s12">
        <h4 id="join-header">Join our Community!</h4>
        <form class="col s12">
            <div class="form-container">
                <div class="row">
                    <div class="input-field col s6">
                        <input ng-model="$ctrl.first_name" id="last_name" type="text" class="validate">
                        <label for="last_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input ng-model="$ctrl.last_name" id="last_name" type="text" class="validate">
                        <label for="last_name">Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input ng-model="$ctrl.email" id="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input  ng-model="$ctrl.email_confirm" id="email-confirm" type="email" class="validate">
                        <label for="email-confirm">Email Confirmation</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input ng-model="$ctrl.password" id="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input ng-model="$ctrl.password_confirm" id="password-confirm" type="password" class="validate">
                        <label for="password-confirm">Password Confirmation</label>
                    </div>
                </div>
                <center>
                    <button class="red btn waves-effect waves-light teal" type="submit" name="action" ng-click="$ctrl.register()">Register</button>
                </center>
            </div>
        </form>
    </div>
</div>
