<!DOCTYPE html>
<html>
    <head>
        <title>MalICSi - View Profile</title>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="../node_modules/materialize-css/dist/css/materialize.min.css"  media="screen,projection"/>
        <link rel="stylesheet" type="text/css" href="../node_modules/materialize-css/dist/css/profile.css">
    </head>
    <body>
        <!-- Navigation -->
        <div class = "navbar-fixed">
  <nav id="top" class="white">
    <div class="nav-wrapper">
      <a href="index.html" class="left" style="width: 200px;"><img src= "../images/logo/malicsi.png"></a>
      <ul class="left hide-on-med-and-down ">
        <li><a href="#" class = "dropdown-button black-text" data-activates="dropdown1" hover = "true"><i class = "material-icons grey-text">menu</i></a></li>
        <ul id = "dropdown1" class = "dropdown-content">
          <li><a href = "viewleagues.html"> Events</a></li>
          <li><a href = "profile.html"> Profile</a></li>
        </ul>
      <li><input class = "text"></li>
      </ul>

      <ul class="right hide-on-med-and-down">

        <li><a href="#modal-register" class = "black-text">REGISTER</a></li>
        <li><a id="login" href="#modal-login"  class = "black-text">LOGIN<i class="material-icons right" >arrow_drop_down</i></a></li>
      </ul>
    </div>
  </nav>
</div>


        <div class="container z-depth-1">
            <div id="user-big">
                <img id="user-image" class="responsive-img" src="../images/person-flat.png">
                <div class="center row">
                    <!--Holds the person's username and name-->
                    <h5>Perso N. Name</h5>
                    <h6>username</h6>
                </div>
            </div>

            <!--Holds the user's information-->
            <div class="row" id="user-info">
                <div class="col s10 offset-s1">
                    <!--
                    <div class="center row user-row">
                        <div class="right-align col s6">
                            <p>Birthday</p>
                        </div>
                        <div class="left-align col s6">
                            <p>March 11, 19XX</p>
                        </div>
                    </div>
                    <div class="center row user-row">
                        <div class="right-align col s6">
                            <p>Gender</p>
                        </div>
                        <div class="left-align col s6">
                            <p>Male/Female/Other</p>
                        </div>
                    </div>
                    -->

                    <!--Two-in-a-row format-->
                    <div class="center row user-row">
                        <div class="right-align col s3">
                            <p>Birthday</p>
                        </div>
                        <div class="left-align col s3">
                            <p>March 11, 19XX</p>
                        </div>
                        <div class="right-align col s3">
                            <p>Gender</p>
                        </div>
                        <div class="left-align col s3">
                            <p>Male/Female/Other</p>
                        </div>
                    </div>
                    <div class="center row user-row">
                        <div class="right-align col s3">
                            <p>Email Address</p>
                        </div>
                        <div class="left-align col s3">
                            <p>personname@email.com</p>
                        </div>
                        <div class="right-align col s3">
                            <p>Another detail</p>
                        </div>
                        <div class="left-align col s3">
                            <p>Some other details, another thing here, and there</p>
                        </div>
                    </div>

                    <!--Other personal details are contained here.-->
                    <div class="center row user-row">
                        <div class="right-align col s3">
                            <p>Additional Detail 1</p>
                        </div>
                        <div class="left-align col s3">
                            <p>Corresponding Detail 1</p>
                        </div>
                        <div class="right-align col s3">
                            <p>Additional Detail 2</p>
                        </div>
                        <div class="left-align col s3">
                            <p>Corresponding Detail 2</p>
                        </div>
                    </div>

                    <div class="center row user-row">
                        <div class="right-align col s6">
                            <p>Affiliations</p>
                        </div>
                        <div class="left-align col s6">
                            <p>
                                <ul>
                                    <li>Affiliation One With A Long Name</li>
                                    <li>Affiliation 2</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="divider">
                
            </div>

            <!--
            Contains stats for each participated game
            events -> team -> game -> stats
            -->
            <div id="user-info">
                <h5 class="center">PLAYER STATS</h5>
                <div class="container">
                    <table class="striped">
                        <thead>
                            <tr>
                                <th>Event</th>
                                <th>Team</th>
                                <th>Game</th>
                                <th>Opponent/s</th>
                                <th>Overall</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>PalICSihan 2017</td>
                                <td>Red Team</td>
                                <td>Basketball (Male/Female) (X Round)</td>
                                <td>Green Team</td>
                                <td>WIN</td>
                            </tr>
                            <tr>
                                <td>PalICSihan 2017</td>
                                <td>Red Team</td>
                                <td>Volleyball (Male/Female) (X Round)</td>
                                <td>Blue Team</td>
                                <td>WIN</td>
                            </tr>
                            <tr>
                                <td>PalICSihan 2017</td>
                                <td>Red Team</td>
                                <td>Volleyball (Male/Female) (X Round)</td>
                                <td>White Team</td>
                                <td>LOSS</td>
                            </tr>
                            <tr>
                                <td>[Sports Event]</td>
                                <td>[Team Name/Color]</td>
                                <td>[Sport] (Male/Female) (X Round)</td>
                                <td>[Opponent Team]</td>
                                <td>[Status]</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <a href = "editProfile.html" class = "btn right">Edit</a>
        </div>
        <script src="node_modules/jquery/dist/jquery-3.1.1.js"></script>
        <script type="text/javascript" src="../node_modules/materialize-css/dist/js/materialize.min.js"></script>
    </body>
</html>