<!DOCTYPE html>
<html>
    <head>
        <title>MalICSi - View Profile</title>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="../../../node_modules/materialize-css/dist/css/materialize.min.css" media="screen,projection"/>
        <link rel="stylesheet" type="text/css" href="profile.css">
        <link href="../../../node_modules/webui-popover/dist/jquery.webui-popover.min.css" rel="stylesheet" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style>
            #news {
                margin: 0px 0px 50px 0px;
            }

            #dropdown-links {
                cursor: pointer;
                font-size: 14px;
                color: #616161;
                margin-bottom: 2px;
                width: 50%;
                float: left;
            }

            #dropdown-links:hover {
                color: #ff0000;
            }
        </style>
    </head>
    <body>
        <!-- Navigation -->
        <nav id="top" class="white">
            <div class="nav-wrapper">
                <a class="left" style="height: 64px;" href="#"><img src="../images/logo/malicsi-logo.png"></a>
                <ul class="left hide-on-med-and-down">
                    <li><i id="drop-links" style="cursor: pointer;" class="black-text large material-icons">menu</i></li>
                    <li><a class="black-text" href="#">Sports</a></li>
                    <li><a class="black-text" href="#">Schedules</a></li>
                    <li><a class="black-text" href="#">Results</a></li> 
                </ul>
                <div class="left" style="height: 64px; margin: 0px 10px; padding: 8px 0px 0px 0px">
                    <input width="30px" class="left black-text" placeholder="Search" id="input" style="float: left;">
                    <i class="black-text material-icons" style="cursor: pointer">search</i>
                </div>
                <a href="#" data-activates="slide-out" class="right red-text side-nav-button">
                    djbelmonte
                    <i style="margin: 0px 15px;" class="right black-text material-icons">menu</i>
                </a>            
            </div>
        </nav>

        <div id="additional-links" class="webui-popover-content" style="margin: 10px 0px 20px 0px; width: 200px; height: 50px">
            <div><a id="dropdown-links">Events</a></div>
            <div><a id="dropdown-links">Players</a></div>
            <div><a id="dropdown-links">About</a></div>
            <div><a id="dropdown-links">Contact us</a></div>
        </div>
        
        <ul id="slide-out" class="side-nav">
            <li><div class="userView">
                <div class="background">
                    <img src="../images/background.jpg">
                </div>
                <a href="#!user"><img class="circle" src="../images/person-flat.png"></a>
                <a href="#!name"><span class="white-text name">Donn Jerico Belmonte</span></a>
                <a href="#!email"><span class="white-text email">djbelmonte</span></a>
            </div></li>
            <li><a href="#!">Notifications<i class="material-icons">notifications</i></a></li>
            <li><a href="#!">Stats<i class="material-icons">equalizer</i></a></li>
            <li><a href="#!">Events<i class="material-icons">subject</i></a></li>
            <li><a href="#!">Edit Profile<i class="material-icons">settings</i></a></li>
            <li><a href="#!">Sign out<i class="material-icons">power_settings_new</i></a></li>
        </ul>

        <!-- End of Navigation-->

        <div id="additional-links" class="webui-popover-content" style="margin: 10px 0px 20px 0px; width: 200px; height: 50px">
            <div><a id="dropdown-links">Events</a></div>
            <div><a id="dropdown-links">Players</a></div>
            <div><a id="dropdown-links">About</a></div>
            <div><a id="dropdown-links">Contact us</a></div>
        </div>
        
        <ul id="slide-out" class="side-nav">
            <li><div class="userView">
                <div class="background">
                    <img src="../images/background.jpg">
                </div>
                <a href="#!user"><img class="circle" src="../images/person-flat.png"></a>
                <a href="#!name"><span class="white-text name">Donn Jerico Belmonte</span></a>
                <a href="#!email"><span class="white-text email">djbelmonte</span></a>
            </div></li>
            <li><a href="#!">Notifications<i class="material-icons">notifications</i></a></li>
            <li><a href="#!">Stats<i class="material-icons">equalizer</i></a></li>
            <li><a href="#!">Events<i class="material-icons">subject</i></a></li>
            <li><a href="#!">Edit Profile<i class="material-icons">settings</i></a></li>
            <li><a href="#!">Sign out<i class="material-icons">power_settings_new</i></a></li>
        </ul>

        <!-- End of Navigation-->

        <div class="container z-depth-1">
            <div id="user-big">
                <!-- A static image was used for now. This is meant to show the user's profile picture. If there was none uploaded, this is what will show. -->
                <img id="user-image" class="responsive-img" src="../images/person-flat.png">
                <div class="center row">
                    <!--Holds the person's username and name-->
                    <h5>Perso N. Name</h5>
                    <h6>username</h6>
                </div>
            </div>

            <!--Holds the user's information-->
            <div class="row" id="user-info">
                <div class="col s10 offset-s1">

                    <!--Two-in-a-row format-->
                    <div class="center row user-row">
                        <div class="right-align col s3">
                            <p>Birthday</p>
                        </div>
                        <div class="left-align col s3">
                            <p>March 11, 19XX</p>
                        </div>
                        <div class="right-align col s3">
                            <p>Gender</p>
                        </div>
                        <div class="left-align col s3">
                            <p>Male/Female/Other</p>
                        </div>
                    </div>
                    <div class="center row user-row">
                        <div class="right-align col s3">
                            <p>Email Address</p>
                        </div>
                        <div class="left-align col s3">
                            <p>personname@email.com</p>
                        </div>
                        <div class="right-align col s3">
                            <p>Mobile Number</p>
                        </div>
                        <div class="left-align col s3">
                            <p>09XXXXXXXXX</p>
                        </div>
                    </div>

                    <div class="center row user-row">
                        <div class="right-align col s6">
                            <p>Affiliations</p>
                        </div>
                        <div class="left-align col s6">
                            <p>
                                <ul>
                                    <li>Affiliation One With A Long Name</li>
                                    <li>Affiliation 2</li>
                                </ul>
                            </p>
                        </div>
                    </div>

                    <br>
                    <div class="divider"></div>
                    <br>

                    <div class="center row user-row">
                        <h5>CONTACT PERSON IN CASE OF EMERGENCY</h5>
                        <div class="right-align col s6">
                            <p>Name of contact person</p>
                        </div>
                        <div class="left-align col s6">
                            <p>Emergen C. Contact</p>
                        </div>
                        <div class="right-align col s6">
                            <p>Relation to contact person</p>
                        </div>
                        <div class="left-align col s6">
                            <p>Mother</p>
                        </div>
                        <div class="right-align col s6">
                            <p>Mobile number of contact person</p>
                        </div>
                        <div class="left-align col s6">
                            <p>09XXXXXXXXX</p>
                        </div>

                        <div class="col s4 offset-s4">
                            <a href = "edit_profile.html" class = "red btn">Edit</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="divider"></div>

            <!--
            Contains stats for each participated game
            events -> team -> game -> stats
            -->
            <div id="user-info">
                <h5 class="center">PLAYER STATS</h5>
                <div class="container">
                    <table class="striped">
                        <thead>
                            <tr>
                                <th>Event</th>
                                <th>Team</th>
                                <th>Game</th>
                                <th>Opponent/s</th>
                                <th>Overall</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>PalICSihan 2017</td>
                                <td>Red Team</td>
                                <td>Basketball (Male/Female) (X Round)</td>
                                <td>Green Team</td>
                                <td>WIN</td>
                            </tr>
                            <tr>
                                <td>PalICSihan 2017</td>
                                <td>Red Team</td>
                                <td>Volleyball (Male/Female) (X Round)</td>
                                <td>Blue Team</td>
                                <td>WIN</td>
                            </tr>
                            <tr>
                                <td>PalICSihan 2017</td>
                                <td>Red Team</td>
                                <td>Volleyball (Male/Female) (X Round)</td>
                                <td>White Team</td>
                                <td>LOSS</td>
                            </tr>
                            <tr>
                                <td>[Sports Event]</td>
                                <td>[Team Name/Color]</td>
                                <td>[Sport] (Male/Female) (X Round)</td>
                                <td>[Opponent Team]</td>
                                <td>[Status]</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <script src="../../../node_modules/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="../../../node_modules/materialize-css/dist/js/materialize.min.js">
        </script>
        <script src="../../../node_modules/webui-popover/dist/jquery.webui-popover.min.js"></script>
        <script>
            $('.side-nav-button').sideNav({
                menuWidth: 300, // Default is 300
                edge: 'right', // Choose the horizontal origin
                closeOnClick: true
            });
        </script>
        <script>
            $(document).ready(function() {
                Materialize.updateTextFields();
            }); 
        </script>
        <script>
            $('a').click(function(){
                $('html, body').animate({
                    scrollTop: $( $(this).attr('href') ).offset().top
                }, 500);
                return false;
            });
        </script>
        <script>
            $('#drop-links').webuiPopover({url:'#additional-links'});
        </script>
    </body>
</html>
