<div class="row">
    <div class="col s12">
        <ul tabs>
            <li class="tab col s4">
                <a href="#sports">
                    Sports
                </a>
            </li>
            <li class="tab col s4">
                <a href="#venues">
                    Venues
                </a>
            </li>
            <li class="tab col s4">
                <a href="#institutions">
                    Institutions
                </a>
            </li>
        </ul>
    </div>
</div>

<div id="sports" class="container">
    <div class="row">
        <div class="col s4">
            <fieldset>
                <legend>
                    <h5>
                        Sports
                    </h5>
                </legend>
                <div class="collection">
                    <a class="collection-item pointer red-text"
                        ng-repeat="sport in $ctrl.sports"
                        ng-click="$ctrl.selectSport(sport)">
                        {{ sport.name }}
                    </a>
                </div>
            </fieldset>
        </div>
        <div class="col s4" ng-if="$ctrl.selectedSport">
            <fieldset>
                <legend>
                    <h5>
                        {{ $ctrl.selectedSport.originalName }}
                    </h5>
                </legend>
                <div class="col s12">
                    <div class="input-field">
                        <input type="text"
                            ng-model="$ctrl.selectedSport.name"
                            id="edit-sport-name">
                        <label for="edit-sport-name">Edit sport name</label>
                    </div>
                </div>

                <!--DEFAULT-->
                <div ng-show="!$ctrl.editingSport && !$ctrl.deletingSport">
                    <div class="col s6 center-align">
                        <button class="btn grey"
                            ng-click="$ctrl.editSport()">
                            Edit
                        </button>
                    </div>
                    <div class="col s6 center-align">
                        <button class="btn grey"
                            ng-click="$ctrl.deleteSport()">
                            Delete
                        </button>
                    </div>
                </div>

                <!--WHILE EDITING-->
                <div ng-show="$ctrl.editingSport">
                    <div class="col s6 center-align">
                        <button class="btn green"
                            ng-click="$ctrl.confirmEditSport()">
                            Confirm
                        </button>
                    </div>
                    <div class="col s6 center-align">
                        <button class="btn red"
                            ng-click="$ctrl.cancelEditSport()">
                            Cancel
                        </button>
                    </div>
                </div>

                <!--WHILE DELETING-->
                <div ng-show="$ctrl.deletingSport">
                    <div class="col s6 center-align">
                        <button class="btn green"
                            ng-click="$ctrl.confirmDeleteSport()">
                            Confirm
                        </button>
                    </div>
                    <div class="col s6 center-align">
                        <button class="btn red"
                            ng-click="$ctrl.cancelDeleteSport()">
                            Cancel
                        </button>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>

<div id="venues" class="container">
    <div class="row">
        <div class="col s4">
            <fieldset>
                <legend>
                    <h5>
                        Venues
                    </h5>
                </legend>
                <div class="collection">
                    <a class="collection-item pointer red-text"
                        ng-repeat="venue in $ctrl.venues"
                        ng-click="$ctrl.selectVenue(venue)">
                        {{ venue.name }}
                    </a>
                </div>
            </fieldset>
        </div>
        <div class="col s4" ng-if="$ctrl.selectedVenue">
            <fieldset>
                <legend>
                    <h5>
                        {{ $ctrl.selectedVenue.originalName }}
                    </h5>
                </legend>
                <div class="col s12">
                    <div class="input-field">
                        <input type="text"
                            ng-model="$ctrl.selectedVenue.name"
                            id="edit-Venue-name">
                        <label for="edit-Venue-name">Edit venue name</label>
                    </div>
                </div>

                <!--DEFAULT-->
                <div ng-show="!$ctrl.editingVenue && !$ctrl.deletingVenue">
                    <div class="col s6 center-align">
                        <button class="btn grey"
                            ng-click="$ctrl.editVenue()">
                            Edit
                        </button>
                    </div>
                    <div class="col s6 center-align">
                        <button class="btn grey"
                            ng-click="$ctrl.deleteVenue()">
                            Delete
                        </button>
                    </div>
                </div>

                <!--WHILE EDITING-->
                <div ng-show="$ctrl.editingVenue">
                    <div class="col s6 center-align">
                        <button class="btn green"
                            ng-click="$ctrl.confirmEditVenue()">
                            Confirm
                        </button>
                    </div>
                    <div class="col s6 center-align">
                        <button class="btn red"
                            ng-click="$ctrl.cancelEditVenue()">
                            Cancel
                        </button>
                    </div>
                </div>

                <!--WHILE DELETING-->
                <div ng-show="$ctrl.deletingVenue">
                    <div class="col s6 center-align">
                        <button class="btn green"
                            ng-click="$ctrl.confirmDeleteVenue()">
                            Confirm
                        </button>
                    </div>
                    <div class="col s6 center-align">
                        <button class="btn red"
                            ng-click="$ctrl.cancelDeleteVenue()">
                            Cancel
                        </button>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>

<div id="institutions" class="container">
    <div class="row">
        <div class="col s4">
            <fieldset>
                <legend>
                    <h5>
                        Institutions
                    </h5>
                </legend>
                <div class="collection">
                    <a class="collection-item pointer red-text"
                        ng-repeat="institution in $ctrl.institutions"
                        ng-click="$ctrl.selectInstitution(institution)">
                        {{ institution.name }}
                    </a>
                </div>
            </fieldset>
        </div>

        <div class="col s4" ng-if="$ctrl.selectedInstitution">
            <fieldset> 
                <legend>
                    <h5>
                        {{ $ctrl.selectedInstitution.originalName }}
                    </h5>
                </legend>

                <div class="col s12">
                    <div class="input-field">
                        <input type="text"
                            ng-model="$ctrl.selectedInstitution.name"
                            id="edit-institution-name">
                        <label for="edit-institution-name">Edit institution name</label>
                    </div>
                </div>

                <div class="col s12">
                    <div class="input-field">
                        <textarea
                            class="materialize-textarea"
                            ng-model="$ctrl.selectedInstitution.description"
                            id="edit-institution-description">
                        </textarea>
                        <label for="edit-institution-description">Edit institution description</label>
                    </div>
                </div>


                <div ng-if="!$ctrl.editingInstitution && !$ctrl.deletingInstitution">
                    <div class="col s6 center-align">
                        <button class="btn grey"
                            ng-click="$ctrl.editInstitution()">
                            Edit
                        </button>
                    </div>

                    <div class="col s6 center-align">
                        <button class="btn grey"
                            ng-click="$ctrl.deleteInstitution()">
                            Delete
                        </button>
                    </div>
                </div>

                <div ng-if="$ctrl.editingInstitution">
                    <div class="col s6 center-align">
                        <button class="btn green"
                            ng-click="$ctrl.confirmEditInstitution()">
                            Confirm
                        </button>
                    </div>

                    <div class="col s6 center-align">
                        <button class="btn red"
                            ng-click="$ctrl.cancelEditInstitution()">
                            Cancel
                        </button>
                    </div>
                </div>

                <div ng-if="$ctrl.deletingInstitution">
                    <div class="col s6 center-align">
                        <button class="btn green"
                            ng-click="$ctrl.confirmDeleteInstitution()">
                            Confirm
                        </button>
                    </div>

                    <div class="col s6 center-align">
                        <button class="btn red"
                            ng-click="$ctrl.cancelDeleteInstitution()">
                            Cancel
                        </button>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="col s4" ng-if="$ctrl.selectedInstitution">
            <fieldset>
                <legend>
                    <h5>{{ $ctrl.selectedInstitution.originalName }} Admins</h5>
                </legend>
                <div class="col s12" ng-show="$ctrl.selectedAdmins.length">
                    <ul class="collection">
                        <li class="collection-item"
                            ng-repeat="admin in $ctrl.selectedAdmins">
                            {{ admin.name }}
                            <a class="secondary-content" 
                                class="pointer"
                                ng-click="$ctrl.deleteAdmin(admin)">
                                <i class="material-icons red-text">
                                    cancel
                                </i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col s12" ng-show="!$ctrl.selectedAdmins.length">
                    <p>No admins</p>
                </div>
            </fieldset>
        </div>
    </div>
</div>

