<div class="container">
    <div class="card">
        <div class="card-content">
            <div class="row">
                <div class="col s4">
                    <fieldset>
                        <legend>
                            <h5>
                                Sports
                            </h5>
                        </legend>
                        <div class="row">
                            <div class="input-field col s9">
                                <input type="text" 
                                    id="new-sport"
                                    ng-model="$ctrl.newSport"
                                    ng-keydown="$ctrl.checkEnterSport($event)">
                                <label for="new-sport">New sport</label>
                            </div>
                            <br>
                            <div class="col s3">
                                <a class="btn-floating"
                                    ng-click="$ctrl.addSport()">
                                    <i class="material-icons red">add</i>
                                </a>
                            </div>
                        </div>
                        <ul class="collection col s12">
                            <li class="collection-item"
                                ng-repeat="sport in $ctrl.sports">
                                <div>
                                    {{ sport.name }}
                                    <span class="pointer secondary-content"
                                        ng-click="$ctrl.promptSportDelete(sport)"
                                        data-target="delete-sport-modal">
                                        <i class="material-icons red-text">
                                            delete
                                        </i>
                                    </span>
                                    <span class="pointer secondary-content"
                                        ng-click="$ctrl.promptSportEdit(sport)"
                                        data-target="edit-sport-modal">
                                        <i class="material-icons red-text">
                                            edit
                                        </i>
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </fieldset>
                </div>


                <div class="col s4">
                    <fieldset>
                        <legend>
                            <h5>
                                Venues
                            </h5>
                        </legend>
                        <div class="row">
                            <div class="input-field col s9">
                                <input type="text" 
                                    id="new-venue"
                                    ng-model="$ctrl.newVenue"
                                    ng-keydown="$ctrl.checkEnterVenue($event)">
                                <label for="new-venue">New venue</label>
                            </div>
                            <br>
                            <div class="col s3">
                                <a class="btn-floating"
                                    ng-click="$ctrl.addVenue()">
                                    <i class="material-icons red">add</i>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <ul class="collection col s12">
                                <li class="collection-item"
                                    ng-repeat="venue in $ctrl.venues">
                                    <div>
                                        {{ venue.name }}
                                        <span class="pointer secondary-content"
                                            ng-click="$ctrl.promptVenueDelete(venue)"
                                            data-target="delete-venue-modal">
                                            <i class="material-icons red-text">
                                                delete
                                            </i>
                                        </span>
                                        <span class="pointer secondary-content"
                                            ng-click="$ctrl.promptVenueEdit(venue)"
                                            data-target="edit-venue-modal">
                                            <i class="material-icons red-text">
                                                edit
                                            </i>
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </fieldset>
                </div>

    
            </div>
        </div>
    </div>
</div>

<div id="delete-sport-modal" class="modal">
    <div class="modal-content">
        <h4>Confirm Delete of {{ $ctrl.sportToDelete.name }}</h4>
        <p>
            Deleting this sport will also delete all games under this sport.
        </p>
        <p>
            Are you sure about this action?
        </p>
        <div class="modal-footer">
            <a class="pointer modal-action modal-close btn-flat"
                ng-click="$ctrl.confirmSportDelete()">
                Okay
            </a>
            <a class="pointer modal-action modal-close btn-flat">
                Cancel
            </a>
        </div>
    </div>
</div>

<div id="delete-venue-modal" class="modal">
    <div class="modal-content">
        <h4>Confirm Delete of {{ $ctrl.venueToDelete.name }}</h4>
        <p>
            Deleting this venue will set all games with this venue to none.
        </p>
        <p>
            Are you sure about this action?
        </p>
        <div class="modal-footer">
            <a class="pointer modal-action modal-close btn-flat"
                ng-click="$ctrl.confirmVenueDelete()">
                Okay
            </a>
            <a class="pointer modal-action modal-close btn-flat">
                Cancel
            </a>
        </div>
    </div>
</div>

<div id="edit-venue-modal" class="modal">
    <div class="modal-content">
        <h4>Editing {{ $ctrl.venueToEdit.originalName }}</h4>
        <div class="row">
            <div class="input-field col s6 offset-s3">
                <input type="text" 
                    ng-model="$ctrl.venueToEdit.name"
                    id="edit-venue">
                <label for="edit-venue">New venue name</label>

            </div>
        </div>
        <div class="modal-footer">
            <a class="pointer modal-action btn-flat"
                ng-click="$ctrl.confirmVenueEdit()">
                Edit
            </a>
            <a class="pointer modal-action modal-close btn-flat">
                Cancel
            </a>
        </div>
    </div>
</div>

<div id="edit-sport-modal" class="modal">
    <div class="modal-content">
        <h4>Editing {{ $ctrl.sportToEdit.originalName }}</h4>
        <div class="row">
            <div class="input-field col s6 offset-s3">
                <input type="text" 
                    ng-model="$ctrl.sportToEdit.name"
                    id="edit-sport">
                <label for="edit-sport">New sport name</label>

            </div>
        </div>
        <div class="modal-footer">
            <a class="pointer modal-action btn-flat"
                ng-click="$ctrl.confirmSportEdit()">
                Edit
            </a>
            <a class="pointer modal-action modal-close btn-flat">
                Cancel
            </a>
        </div>
    </div>
</div>