<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	<title>MalICSihan</title>
	<!-- CSS  -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="../../../node_modules/materialize-css/dist/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>


</head>


<!--Remove style for body. Used for contrast viewing only.-->
<body>


<!-- Navigation -->
<div class = "navbar-fixed">
  <nav id="top" class="white">
    <div class="nav-wrapper">
      <a href="index.html" class="left" style="width: 200px;"><img src= "../images/logo/malicsi.png"></a>
      <ul class="left hide-on-med-and-down ">
        <li><a href="#" class = "dropdown-button black-text" data-activates="dropdown1" hover = "true"><i class = "material-icons grey-text">menu</i></a></li>
        <ul id = "dropdown1" class = "dropdown-content">
          <li><a href = "viewleagues.html"> Events</a></li>
          <li><a href = "profile.html"> Profile</a></li>
        </ul>
      <li><input class = "text"></li>
      </ul>

      <ul class="right hide-on-med-and-down">

        <li><a href="#modal-register" class = "black-text">REGISTER</a></li>
        <li><a id="login" href="#modal-login"  class = "black-text">LOGIN<i class="material-icons right" >arrow_drop_down</i></a></li>
      </ul>
    </div>
  </nav>
</div>

<!--Search bar
<div class = "row">
	<div class = "col s4 offset-s4">
	<form>
		<div class = "input-field z-depth-2">
		<i class = "material-icons prefix">search</i>
		<input id="search" type="search">
		</div>

	</form>
	</div>
</div>
-->

<!--Make this dynamic-->
<!--Order is reverse chronological-->
 <!--
 <div class="row" name = "LeagueRow">
	<div class="col s12 m6 l3">
	  <div class="card>
		<div class="card-image">
		   <a href = "#"><img src="../images/logo/engmeet2017.jpg"></a>
		  <span class="card-title black-text">Engineering Meet 2017</span>
		</div>
		<div class="card-content hide-on-small-only">
		  <p>Overall Champion: Organization Name</p>
		</div>
	  </div>
	</div>
	-->













	
<div class="row valign-wrapper">
      <div class="col s3 m6 center-align">
			<div class="Section">
				<ul class="collapsible" data-collapsible="accordion">
					<li>
						<div class="collapsible-header"><h5>Sport Champion</h5></div>
						<div class="collapsible-body">2nd</div>
						<div class="collapsible-body">3rd</div>
					</li>
				</ul>
			</div>
			<div class="Section">
				<h5>Sport</h5>
				<p>Champion</p>
			</div>
			<div class="Section">
				<h5>Sport</h5>
				<p>Champion</p>
			</div>
	  </div>
      <div class="col s6 m6 center-align valign-wrapper">
			<div class="Section">
				<h5>Overall Champion</h5>
			</div>
			<div>
				<img class="responsive-img" src="../images/logo/palacasan2016.jpg">  
				<h5>PalaCASan 2016<h5>
			</div>
	  </div>
      <div class="col s3 m6 center-align">
			<div class="Section">
				<h5>Sport</h5>
				<p>Champion</p>
			</div>
			<div class="Sport">
				<h5>Sport</h5>
				<p>Champion</p>
			</div>
			<div class="Sport">
				<h5>Sport</h5>
				<p>Champion</p>
			</div>
	  </div>
    </div>
</div>


	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="../../../node_modules/materialize-css/dist/sample.js"></script>
	<script>

		$(document).ready(function(){
		  $('.parallax').parallax();
		});
	</script>
	<script src="../../../node_modules/materialize-css/dist/js/materialize.js"></script>
	<script src="../../../node_modules/materialize-css/dist/js/init.js"></script>
</body>
</html>