<div class="carousel carousel-slider center" data-indicators="true">
    <div class="carousel-item" href="#">
        <img src="http://vwcathletics.com/sports/mbkb/2015-16/basketball_sr.jpg">
    </div>
    <div class="carousel-item" href="#">
        <img src="http://i2.cdn.cnn.com/cnnnext/dam/assets/160807004251-beach-volleyball-super-169.jpg">
    </div>
    <div class="carousel-item" href="#">
        <img src="https://static01.nyt.com/images/2016/08/19/sports/19BADMINTONweb3/19BADMINTONweb3-master675.jpg">
    </div>
    <div class="carousel-item" href="#">
        <img src="http://www.nbcolympics.com/sites/default/files/field_image/01June2016/table-tennis-og-image-cropped.jpg">
    </div>
</div>

<h3 id="latest-news-header">Latest News</h3>
<div id="news-grid" class="row">
    <div id="news" class="col s4">
        <img src="../images/news.jpg" height="150px" width="250px">
        <p>Warriors-Cavaliers Warriors-Cavaliers</p>
        <p>Warriors-Cavaliers Warriors-Cavaliers</p>
        <p>Warriors-Cavaliers Warriors-Cavaliers</p>
    </div>
    <div id="news" class="col s4">
        <img src="../images/news.jpg" height="150px" width="250px">
        <p>Warriors-Cavaliers Warriors-Cavaliers</p>
        <p>Warriors-Cavaliers Warriors-Cavaliers</p>
        <p>Warriors-Cavaliers Warriors-Cavaliers</p>
    </div>
    <div id="news" class="col s4">
        <img src="../images/news.jpg" height="150px" width="250px"> 
        <p>Warriors-Cavaliers Warriors-Cavaliers</p>
        <p>Warriors-Cavaliers Warriors-Cavaliers</p>
        <p>Warriors-Cavaliers Warriors-Cavaliers</p>
    </div>
    <div id="news" class="col s4">
        <img src="../images/news.jpg" height="150px" width="250px">
        <p>Warriors-Cavaliers Warriors-Cavaliers</p>
        <p>Warriors-Cavaliers Warriors-Cavaliers</p>
        <p>Warriors-Cavaliers Warriors-Cavaliers</p>
    </div>
    <div id="news" class="col s4">
        <img src="../images/news.jpg" height="150px" width="250px">
        <p>Warriors-Cavaliers Warriors-Cavaliers</p>
        <p>Warriors-Cavaliers Warriors-Cavaliers</p>
        <p>Warriors-Cavaliers Warriors-Cavaliers</p>
    </div>
    <div id="news" class="col s4">
        <img src="../images/news.jpg" height="150px" width="250px"> 
        <p>Warriors-Cavaliers Warriors-Cavaliers</p>
        <p>Warriors-Cavaliers Warriors-Cavaliers</p>
        <p>Warriors-Cavaliers Warriors-Cavaliers</p>
    </div>
</div>
<div id="register-part"> 
    <div id="register" class="col s12">
        <h4 id="join-header">Join our Community!</h4>
        <form class="col s12">
            <div class="form-container">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="last_name" type="text" class="validate">
                        <label for="last_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="last_name" type="text" class="validate">
                        <label for="last_name">Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email-confirm" type="email" class="validate">
                        <label for="email-confirm">Email Confirmation</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password-confirm" type="password" class="validate">
                        <label for="password-confirm">Password Confirmation</label>
                    </div>
                </div>
                <center>
                    <button class="red btn waves-effect waves-light teal" type="submit" name="action">Register</button>
                </center>
            </div>
        </form>
    </div>
</div>
