<div class="parallax-container">
	<div class="parallax valign"><img ng-src="/images/logo/palacasan2016.jpg"></div>
</div>


<!-- 
-teams should be linked to team_page.html
-->
<div class="container">
	<sport-card></sport-card>
<table>
	<!-- <h3>{{ $ctrl.eventData }}</h3> -->
	<thead>
		<div class="row">
			<div class="col s12">
			  <ul class="tabs tabs-fixed-width red">
				<li class="tab col s3"  ng-repeat="(sport, games) in $ctrl.sports" ><a class="white-text" href="#{{ sport }}" >{{ sport }}</a></li>
			  </ul>
			</div>
		</div>
	</thead>
	<tbody>
		<table class="highlight bordered striped" id="{{ sport }}" ng-repeat="(sport, games) in $ctrl.sports track by $index">
			<thead>
				<tr>
					<th>Game</th>
					<th>Competing Teams</th>
					<th>Score</th>
					<th>Winner</th>
				</tr>
			</thead>
			<tbody ng-repeat="game in games">
				
				<tr>
					<th>{{ game[0].game_id }}</th>
					<th><a href="#">{{ game[0].team }}</a> vs <a href="#">{{ game[1].team }}</a></th>
					<th>{{ game[0].score }}-{{ game[1].score }}</th>
					<th>-</th>
				</tr>
				
			</tbody>
		</table>
		
	</tbody>
</table>
</div>