<div class="parallax-container">
	<div class = "Cool-font"
		 style="position:absolute;top:50%;">
		Hello, its me
	</div>
	<div class="parallax valign"><img alt="/images/temp-bg-2.jpg" ng-src="{{$ctrl.event.picture}}"/></div>
</div>

<div class="container">
	<ul class="collapsible" data-collapsible="accordion">
	    <li ng-repeat="sport in $ctrl.allSports">
			<div class="collapsible-header"><i class="material-icons"><i class="material-icons">toll</i></i>{{ sport.sport }}</div>
			<div class="collapsible-body">
				<table class="highlight bordered striped">
				  <thead>
				    <tr>
				      <th>Game</th>
				      <th>Competing Teams</th>
				      <th>Score</th>
				      <th>Winner</th>
				    </tr>
				  </thead>
				  <tbody ng-repeat="game in sport.games">
				    <tr>
				      <td><a ui-sref="gamePage({ gameId: game.game_id })">{{ game.game_id }}</a>
				      <td><a ui-sref="teamPage({ teamId: game.teams[0].team_id })">{{ game.teams[0].name }}</a> vs <a ui-sref="teamPage({ teamId: game.teams[1].team_id })">{{ game.teams[1].name }}</a></td>
				      <td>{{ game.teams[0].score }}-{{ game.teams[1].score }}</td>
				      <td>{{ game.teams[0].record === "WIN" ? game.teams[0].name : game.teams[1].name }}</td>
				    </tr>
				  </tbody>
				</table>
			</div>
	   	</li>
	   	<li>
	   		<div class="collapsible-header"><i class="material-icons"><i class="material-icons">event</i></i>Sponsoring Institution</div>
			<div class="collapsible-body" style="font-weight: bold">
				{{ $ctrl.institution }}
			</div>
	   	</li>
	</ul>
</div>
