body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
/*    background-color:#35465c;*/
}

main {
    flex: 1 0 auto;
}

#news {
    margin: 0px 0px 50px 0px;
}

.dropdown-links {
    cursor: pointer;
    font-size: 14px;
    color: #616161;
    margin-bottom: 2px;
    width: 50%;
    float: left;
}

.dropdown-links:hover {
    color: #ff0000;
}

#login-form {
    padding: 10px 10px;
}

#login-button {
    margin: 0px 0px 20px 0px;
}

#forgot-password-link {
    cursor: pointer; 
    font-size: 12px;
}

#additional-links {
    margin: 10px 0px 20px 0px; 
    width: 200px; 
    height: 50px;
}

#drop-links {
    cursor: pointer;
}

#malicsi-logo-link {
    height: 64px;
}

#search-bar-div {
    height: 64px; margin: 0px 10px; padding: 8px 0px 0px 0px;
}

#input {
    float: left;
}

#register-link {
    width: 100px; text-align: center;
}

#latest-news-header {
    padding-left: 90px; color: red;
}

#news-grid {
    text-align: center; margin: 40px 0px;
}

#register-part {
    padding: 30px 0px 50px 35%; border-top: 2px solid #c1c1c1;
}

#register {
    width: 50%;
}

#join-header {
    text-align: center; color: red;
}

#search-icon {
    cursor: pointer;
}

#sidenav-icon {
    margin: 0px 15px;
}

th, td{
    padding: 10px 5px;
}

#side-nav-teams {
    overflow-y: scroll; 
    min-height: 1000px; 
    height: 1000px; 
    bottom: 0; 
    z-index: 11; 
    padding: 0;
}

#side-nav-teams-search {
    padding: 0px 5px;
}

#right-team-page {
    margin-top: 10px;
}

#team-name {
    font-size: 36px;
} 

#team-stats {
    font-size: 17px;
}

#upcoming-game {
    font-weight: bold;
}

#upcoming-game-inner-div {
    padding: 0px;
}

#upcoming-game-inner-inner-div {
    padding: 0px; transform: translateY(50%);
}

#vs {
    color: #717171; font-size: 14px;
}

#opponent-logo {
    padding: 0px;
}

#upcoming-game-details {
    padding-top: 5px; padding-bottom: 5px;
}

#last-five-games-div {
    margin: 15px 0px;
}

#last-five-games-header {
    font-size: 18px;
}

#last-five-games-table {
    font-size: 14px; margin-bottom: 10px;
}

#players-header {
    font-size: 18px;
}

#player-card {
    padding: 10px;
}

#modal-edit-logo {
    padding-left: 0px; margin-right: 5px;
}


#user-image {
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#user-big {
    border-radius: 5px;
    padding-top: 15px;
}

.user-row .right-align {
    font-weight: bold;
}

.user-row {
    margin: 1px;
}

.container {
    margin-bottom: 10px;
}


.input-field input[type=text]:focus + label, .input-field input[type=password]:focus + label, .input-field input[type=date]:focus + label, .input-field input[type=email]:focus + label, .file-path-wrapper input[type=text]:focus {
    color: black;
}

.input-field input[type=text]:focus, .input-field input[type=password]:focus, .input-field input[type=date]:focus, .input-field input[type=email]:focus {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 red;
}



.field-row {
    margin-top: 5px;
    margin-bottom: 10px;    
}

.user-row {
    margin: 1px;
    padding-bottom: 2px;
}

.affiliations-header {
    font-weight: bold;
}

#edit-user-big {
    border-radius: 5px;
    padding-top: 15px;
    background-color: white;
}

#change-name {
    font-size: 2em;
}

#save-changes-btn {
    margin: 5px;
}

/* Style the tab */
div.tab-custom {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab-custom button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab-custom button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab-custom button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.pointer {
    cursor: pointer;
}

.tabs {
    overflow-x: hidden;
}

th,td{
    padding-top:3px;
}

.team-logo{
    width:10%;
    vertical-align:middle;
}

.filter{
    position:fixed;
}
/*
style = "width:10%;vertical-align:middle;"*/

#sponsor-link {
    color: #ff4d4d;
}

#sponsor-link:hover {
    color: red;
}

#sponsor-name {
    font-weight: bold;
}   

#sponsors-info{
    height: 150px;
    overflow-y: scroll;
}

#timer {
	margin: 10px 0px 20px 0px;
}

#add-game-schedule {
	height: 100%;
}

#main-content {
	min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -270px;
}

::-webkit-scrollbar {
    width: 5px;  /* remove scrollbar space */
    background: 1;  /* optional: just make scrollbar invisible */
}
::-webkit-scrollbar-thumb {
    background: #fc9948;
}

.custom-card.card .card-image img {
  height: 300px;
}

.custom-content{
	height:100px;
	overflow-y:scroll;
}

.custom-image{
	height:300px !important;

}

#event-main-content {
	min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -270px;
}

#score-bg{
    background-image: url('/images/background-copy.jpg');
    background-size: 100%;
}

#user-img{
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#team-img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.vs{
    margin-top: 100px;
}

#live-update-left {
    text-align: left;
    padding: 5px 5px 5px 20px;
}

#live-update-right {
    text-align: right;
    padding: 5px 20px 5px 5px;
}

.gradient-color{
   background: linear-gradient(to right, #562764 , #f96b25); /* Standard syntax */
}

/* label color */
   .index .input-field label {
     color: #fff;
   }
   /* label focus color */
   .index .input-field input[type=text]:focus + label {
     color: orange;
   }
    .index .input-field input[type=password]:focus + label {
       color: orange;
     }

   /* label underline focus color */
   .index .input-field input[type=text]:focus {
     border-bottom: 1px solid orange;
     box-shadow: 0 1px 0 0 orange;
   }

   .index .input-field input[type=password]:focus {
     border-bottom: 1px solid orange;
     box-shadow: 0 1px 0 0 orange;
   }
   /* valid color */
   .index .input-field input[type=text].valid {
     border-bottom: 1px solid #fff;
     box-shadow: 0 1px 0 0 #fff;
   }

   .index .input-field input[type=password].valid {
     border-bottom: 1px solid #fff;
     box-shadow: 0 1px 0 0 #fff;
   }
   /* invalid color */
  .index  .input-field input[type=text].invalid {
     border-bottom: 1px solid #fff;
     box-shadow: 0 1px 0 0 #fff;
   }
   /* icon prefix focus color */
   .index .input-field .prefix.active {
     color: orange;
   }

   .index .orange-bordered{
    border :2px solid orange;
    background-color:transparent !important;
   }


   .index select{
    background-color:transparent;
    border-radius:20px;

   }

   .index select option{
        background-color: #93414c;
   }

   .index select option:focus{
        background-color: #93414c;
   }
   .index select:focus{
    outline:none;
   }


   /* label color */
   .index .input-field .in-nav label {
     color: #fff;
   }
   /* label focus color */
     .index .input-field .in-nav input[type=text]:focus + label {
     color: black;
   }
     .input-field .in-nav input[type=password]:focus + label {
       color: black;
     }

   /* label underline focus color */
   .index .input-field .in-nav input[type=text]:focus {
     border-bottom: 1px solid black;
     box-shadow: 0 1px 0 0 black;
   }

   .index  .input-field .in-nav input[type=password]:focus {
     border-bottom: 1px solid black;
     box-shadow: 0 1px 0 0 black;
   }
   /* valid color */
   .index  .input-field .in-nav input[type=text].valid {
     border-bottom: 1px solid #fff;
     box-shadow: 0 1px 0 0 #fff;
   }

  .index  .input-field .in-nav input[type=password].valid {
     border-bottom: 1px solid #fff;
     box-shadow: 0 1px 0 0 #fff;
   }
   /* invalid color */
  .index  .input-field .in-nav input[type=text].invalid {
     border-bottom: 1px solid #fff;
     box-shadow: 0 1px 0 0 #fff;
   }
   /* icon prefix focus color */
  .index  .input-field .in-nav .prefix.active {
     color: black;
   }
#live-update-right {
    text-align: right;
    padding: 5px 20px 5px 5px;
}
.orange-bordered{
    border :2px solid orange;
    background-color:transparent !important;
   }
    .up-and-down-animation{
      -webkit-animation-name: example;
      animation-name: example;
      animation-duration: 1s;
      animation-iteration-count: infinite;
   }

   @keyframes example {
    0%   {left:0px; top:500px;}
    20%  {left:0px; top:475px;}
   }




@font-face{
    font-family:Coolvetica;
    src:url(assets/coolvetica.ttf);
}

.Cool-font{
    font-family: Coolvetica;
}


.FFF-font{
    font-family:FFF;
}


#event-top-chip{
  margin-top:5px;
  margin-left:5px;
}

.add-margin-bottom{
  margin-bottom:5px;
}

.add-margin-right{
  margin-right:5px;
}

.add-margin-top{
  margin-top:5px;
}

.input-field input[type=text]:focus,
.input-field input[type=file]:focus {
  border-bottom: 1px solid orange;
  /*-webkit-box-shadow: 0 1px 0 0 #099;
  -moz-box-shadow: 0 1px 0 0 #099;
  */box-shadow: 0 2px 0 0 orange;
}

.custom-border input[type=text]:focus {
  border-bottom: 1px solid orange;
  /*-webkit-box-shadow: 0 1px 0 0 #099;
  -moz-box-shadow: 0 1px 0 0 #099;
  */box-shadow: 0 2px 0 0 orange;
}