#news {
    margin: 0px 0px 50px 0px;
}

#dropdown-links {
    cursor: pointer;
    font-size: 14px;
    color: #616161;
    margin-bottom: 2px;
    width: 50%;
    float: left;
}

#dropdown-links:hover {
    color: #ff0000;
}

#login-form {
    padding: 10px 10px;
}

#login-button {
    margin: 0px 0px 20px 0px;
}

#forgot-password-link {
    cursor: pointer; 
    font-size: 12px;
}

#additional-links {
    margin: 10px 0px 20px 0px; 
    width: 200px; 
    height: 50px;
}

#drop-links {
    cursor: pointer;
}

#malicsi-logo-link {
    height: 64px;
}

#search-bar-div {
    height: 64px; margin: 0px 10px; padding: 8px 0px 0px 0px;
}

#input {
    float: left;
}

#register-link {
    width: 100px; text-align: center;
}

#latest-news-header {
    padding-left: 90px; color: red;
}

#news-grid {
    text-align: center; margin: 40px 0px;
}

#register-part {
    padding: 30px 0px 50px 35%; border-top: 2px solid #c1c1c1;
}

#register {
    width: 50%;
}

#join-header {
    text-align: center; color: red;
}

#search-icon {
    cursor: pointer;
}

#sidenav-icon {
    margin: 0px 15px;
}

#user-image {
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#user-big {
    border-radius: 5px;
    padding-top: 15px;
}

.user-row .right-align {
    font-weight: bold;
}

.user-row {
    margin: 1px;
}

.container {
    margin-bottom: 10px;
}


.input-field input[type=text]:focus + label {
    color: red;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 red;
}


.field-row {
    margin-top: 5px;
    margin-bottom: 10px;    
}

.user-row {
    margin: 1px;
    padding-bottom: 2px;
}

.affiliations-header {
    font-weight: bold;
}

#edit-user-big {
    border-radius: 5px;
    padding-top: 15px;
    background-color: white;
}

#change-name {
    font-size: 2em;
}

#save-changes-btn {
    margin: 5px;
}
