<div class="container row">
    <h3>Search Teams</h3>

    <div class="col m4 l4 hide-on-small-only"
        id="filters">

        <div class="card">
            <div class="card-content">
                <form>
                    <span class="card-title">Filters</span>
                    <form action="#">
                    <div class="divider"></div>
                    <strong>Event</strong>
                    <select id="dropdwn" class="left black-text browser-default">
                        <option value="" selected disabled>Event Name</option>
                        <option ng-repeat="one in $ctrl.events" value="{{ each.event_id }}">{{ one.event_name }}</option>
                    </select>
                    
                    <br><br><br>
                    
                </form>
                </form>    
            </div>    
        </div>    
    </div>

    <div class="col m8 l8" id="results">
        <!-- TEAMS -->
        <div class="card"
            ng-if="$ctrl.teams.length && $ctrl.filters['Teams']">
            <div class="card-content">
                <span class="card-title">Teams</span>
                <ul class="collection">
                    <search-team-card ng-repeat="team in $ctrl.teams"
                    team="team">
                    </search-team-card>
                </ul>
            </div>
        </div>
    </div>

</div>  
