<!DOCTYPE html>
<html>
    <head>
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="../../../node_modules/materialize-css/dist/css/materialize.min.css"  media="screen,projection"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/jquery.webui-popover/1.2.1/jquery.webui-popover.min.css" rel="stylesheet" />

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style>
            #news {
                margin: 0px 0px 50px 0px;
            }
        </style>
    </head>
    <body>
        <div id="login-form" class="webui-popover-content">
            <form action="" method="post">
                <div class="input-field">
                    <input id="uname" type="text" class="validate">
                    <label for="uname">Username</label>
                </div>
                <div class="input-field">
                    <input id="pword" type="password" class="validate">
                    <label for="pword">Password</label>
                </div>
                <button class="right btn waves-effect waves-light" type="submit" name="action">Login</button>
            </form>
        </div>
        <nav id="top" class="red">
            <div class="nav-wrapper">
                    <a href="#" class="black left" style="width: 100px; text-align: center;">MALICSI</a>
                <ul class="left hide-on-med-and-down">
                    <li style="width: 100px; text-align: center;" class="active"><a href="#">Home</a></li>
                    <li style="width: 100px; text-align: center;"><a href="#">Sports</a></li>
                    <li style="width: 100px; text-align: center;"><a href="#">Schedules</a></li>
                    <li style="width: 100px; text-align: center;"><a href="#">Results</a></li>
                    <li style="width: 100px; text-align: center;"><a href="#">Players</a></li>
                    <li style="width: 100px; text-align: center;"><a href="#">About</a></li>  
                </ul>
                <ul class="right hide-on-med-and-down">
                    <li style="width: 100px; text-align: center;"><a href="#register-part">Register</a></li>
                    <li><a id="login" href="#">Login<i class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
            </div>
        </nav>

        <div class="carousel carousel-slider center" data-indicators="true">
            <div class="carousel-item white white-text" href="#one!">
                <img src="http://vwcathletics.com/sports/mbkb/2015-16/basketball_sr.jpg">
                <div class="caption center-align">
                    <h3>This is our big Tagline!</h3>
                </div>
            </div>
            <div class="carousel-item white white-text" href="#two!">
                <img src="http://i2.cdn.cnn.com/cnnnext/dam/assets/160807004251-beach-volleyball-super-169.jpg">
                <div class="caption center-align">
                    <h3>This is our big Tagline!</h3>
                </div>
            </div>
            <div class="carousel-item white white-text" href="#three!">
                <img src="https://static01.nyt.com/images/2016/08/19/sports/19BADMINTONweb3/19BADMINTONweb3-master675.jpg">
                <div class="caption center-align">
                    <h3>This is our big Tagline!</h3>
                </div>
            </div>
            <div class="carousel-item white white-text" href="#four!">
                <img src="http://www.nbcolympics.com/sites/default/files/field_image/01June2016/table-tennis-og-image-cropped.jpg">
                <div class="caption center-align">
                    <h3>This is our big Tagline!</h3>
                </div>
            </div>
        </div>



        <h3 style="padding-left: 90px; color: red;">Latest News</h3>
        <div style="text-align: center; margin: 40px 0px;" class="row">
            <div id="news" class="col s4">
                <img src="https://usatftw.files.wordpress.com/2015/12/usatsi_8668401.jpg?w=1000&h=600&crop=1" height="150px" width="250px">
                <p>Warriors-Cavaliers Warriors-Cavaliers</p>
                <p>Warriors-Cavaliers Warriors-Cavaliers</p>
                <p>Warriors-Cavaliers Warriors-Cavaliers</p>
            </div>
            <div id="news" class="col s4">
                <img src="https://usatftw.files.wordpress.com/2015/12/usatsi_8668401.jpg?w=1000&h=600&crop=1" height="150px" width="250px">
                <p>Warriors-Cavaliers Warriors-Cavaliers</p>
                <p>Warriors-Cavaliers Warriors-Cavaliers</p>
                <p>Warriors-Cavaliers Warriors-Cavaliers</p>
            </div>
            <div id="news" class="col s4">
                <img src="https://usatftw.files.wordpress.com/2015/12/usatsi_8668401.jpg?w=1000&h=600&crop=1" height="150px" width="250px"> 
                <p>Warriors-Cavaliers Warriors-Cavaliers</p>
                <p>Warriors-Cavaliers Warriors-Cavaliers</p>
                <p>Warriors-Cavaliers Warriors-Cavaliers</p>
            </div>
            <div id="news" class="col s4">
                <img src="https://usatftw.files.wordpress.com/2015/12/usatsi_8668401.jpg?w=1000&h=600&crop=1" height="150px" width="250px">
                <p>Warriors-Cavaliers Warriors-Cavaliers</p>
                <p>Warriors-Cavaliers Warriors-Cavaliers</p>
                <p>Warriors-Cavaliers Warriors-Cavaliers</p>
            </div>
            <div id="news" class="col s4">
                <img src="https://usatftw.files.wordpress.com/2015/12/usatsi_8668401.jpg?w=1000&h=600&crop=1" height="150px" width="250px">
                <p>Warriors-Cavaliers Warriors-Cavaliers</p>
                <p>Warriors-Cavaliers Warriors-Cavaliers</p>
                <p>Warriors-Cavaliers Warriors-Cavaliers</p>
            </div>
            <div id="news" class="col s4">
                <img src="https://usatftw.files.wordpress.com/2015/12/usatsi_8668401.jpg?w=1000&h=600&crop=1" height="150px" width="250px"> 
                <p>Warriors-Cavaliers Warriors-Cavaliers</p>
                <p>Warriors-Cavaliers Warriors-Cavaliers</p>
                <p>Warriors-Cavaliers Warriors-Cavaliers</p>
            </div>
        </div>
        <div id="register-part" style="padding: 30px 0px 50px 35%; border-top: 2px solid #c1c1c1;"> 
            <div id="register" class="col s12" style="width: 50%;">
                <h3 style="text-align: center; color: red;">Join our Community!</h3>
                <form class="col s12">
                    <div class="form-container">
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="last_name" type="text" class="validate">
                                <label for="last_name">First Name</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="last_name" type="text" class="validate">
                                <label for="last_name">Last Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="email" type="email" class="validate">
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="email-confirm" type="email" class="validate">
                                <label for="email-confirm">Email Confirmation</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="password" type="password" class="validate">
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="password-confirm" type="password" class="validate">
                                <label for="password-confirm">Password Confirmation</label>
                            </div>
                        </div>
                        <center>
                            <button class="btn waves-effect waves-light teal" type="submit" name="action">Register</button>
                        </center>
                    </div>
                </form>
            </div>
        </div>

        <footer class="red page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Footer Content</h5>
                        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Links</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    BETELOG 2017 Copyright 
                    <a class="grey-text text-lighten-4 right" href="#top">Back to top</a>
                </div>
            </div>
        </footer>

        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="../../../node_modules/materialize-css/dist/js/materialize.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
        <script src="https://cdn.jsdelivr.net/jquery.webui-popover/1.2.1/jquery.webui-popover.min.js"></script>
        <script>
            $(document).ready(function() {
                Materialize.updateTextFields();
            });
            
        </script>
        <script>
            $('a').click(function(){
                $('html, body').animate({
                    scrollTop: $( $(this).attr('href') ).offset().top
                }, 500);
                return false;
            });
        </script>
        <script>
            $('.carousel.carousel-slider').carousel({fullWidth: true});
            autoplay()   
            function autoplay() {
                $('.carousel.carousel-slider').carousel('next');
                setTimeout(autoplay, 6000);
            }        
        </script>
        <script>    
            $('#login').webuiPopover({url:'#login-form'});
        </script>

    </body>
</html>